.whole-card{
  background-color: #f9eeff;
  color : #b487da;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid;
}

h2{
  font-weight: bold;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button{

    color: #b487da;
    transition: color 0.3s, font-size 0.3s;
    border-radius: 20px;
    border: none;
    height: 50px;

    &:disabled{
      color: rgba(180, 135, 218, 0.44);
      background-color: #ededed;
    }

    &:enabled{
      border: 2px solid;
      background-color: white;

      &:hover {
        color: #ffffff;

        background-color: #b487da;
        border-color: #b487da;

        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    }

}

mat-form-field{
  textarea{
    height: 170px;
  }
}

@media screen and (min-width: 769px){
  button{
    font-size: 20px;
    &:enabled {
      &:hover {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  button{
    font-size: 15px;
    &:enabled {
      &:hover {
        font-size: 19px;
      }
    }
  }
}
