nav {
  background-color: #f8f9fa;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .nav-item {
      margin-right: 10px;


      .nav-link {
        font-size: 16px;
        color: #343a40;
        transition: color 0.3s, font-size 0.3s;

        &:hover {
          color: #000000;
          font-size: 20px;
          background-color: #e3e3e3;
          border-radius: 20px;
        }
      }

      .active{
        color: #000000;
        font-size: 20px;
        background-color: #e3e3e3;
        border-radius: 20px;
      }
    }
  }
}

button {
  border: none;
  background-color: transparent;
  &:active {
    transform: translate(1px, 1px);
  }
}
