<nav class="p-2 border-bottom">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <button (click)="onClickName()"><img class="logo-ac mb-3 mb-lg-0 mb-xl-0" ngSrc="/logo.jpeg" width="200" height="90" alt="LogoAC"></button>


      <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center mb-md-0 flex-grow-1 mb-sm-3 mb-md-3 mb-lg-0 mb-xl-0">

          <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link px-2 me-2 ">Accueil</a></li>
          <li class="nav-item"><a routerLink="/realisation" routerLinkActive="active" class="nav-link px-2 me-2">Projets</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link px-2 me-2">À propos</a></li>
          <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link px-2 me-2">Contact</a></li>

      </ul>

      <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 justify-content-lg-end">

        <li class="nav-item"><a href="https://github.com/alexandrecai"><button><img ngSrc="/github-purple.png" width="50" height="50"></button></a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/alexandre-cailloux-a6591a194/"><button><img ngSrc="/linkedin-purple.png" width="50" height="50"></button></a></li>

      </ul>
    </div>



</nav>
