.whole-card{
  background-color: #f9eeff;
  color : #b487da;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid;
  &:hover{
    background-color: #b487da;
    border-color: #b487da;
    color: #ffffff;
    h3{
      color: #ffffff;
    }
    .mat-mdc-chip-highlighted{
      --mdc-chip-elevated-container-color: #ffffff;
      --mdc-chip-label-text-color: #b487da;
    }
  }
}

@media screen and (min-width: 769px){
  .border-right{
    border-right: solid;
  }
}

@media screen and (max-width: 768px){
  .border-right{
    border-bottom: solid;
  }
}


img{
  border-radius: 100%;
  border: 2px solid #b487da;
}

li{
  display: flex;
  flex-direction: row;
}

p{
  text-align: justify;
  font-size: 18px;
}

.logo-diplome{
  border-radius: 20px;
  object-fit: contain;
  background-color: white;
}

h2,h3{
  font-weight: bold;
  color : #b487da;
}

@media screen and (min-width: 801px){
  .myself-image{
    img{
      height: 13vw;
      width: 13vw;
    }
  }
}

@media screen and (max-width: 800px){
  .myself-image{
    img{
      height: 20vh;
      width: 20vh;
    }
  }
}
