<nav class="p-3 border-bottom">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <h1>Alexandre Cailloux</h1>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 flex-grow-1">

          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link px-2 link-secondary me-2 ">Accueil</a>
          <a routerLink="/contact" routerLinkActive="active" class="nav-link px-2 link-secondary me-2">Contact</a>

      </ul>
    </div>



</nav>
