<div class="whole-card">
<div class="d-flex flex-column flex-md-row flex-lg-row p-5 pb-2 align-items-center">
  <div>
    <h2 class="pb-3">{{ projet.name | uppercase }}</h2>
    <p class="pb-3  col-11" style="white-space: break-spaces;">{{ projet.description }}</p>
    <h4>Contributeurs</h4>
    <div class="d-flex d-inline pb-4">
      <mat-chip-set>
        @for (name of projet.contributors; track projet.contributors){
          <mat-chip>{{ name }}</mat-chip>

        }
      </mat-chip-set>
    </div>
    <h4>Technologies</h4>
    <div class="d-flex d-inline">
      <mat-chip-set>
        @for (tec of projet.technos; track projet.technos){
          <mat-chip highlighted>{{ tec }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </div>
  <div class="mt-4 mt-lg-0 mt-md-0 ms-md-4 ms-lg-0">
    <img [ngSrc]=projet.imageUrl alt="logo" width="200" height="200">

    <div *ngIf="projet.git" class="mt-2 d-flex align-items-center justify-content-center pt-3">
      <a [href]=projet.git class="git-button-text  p-2">
        <div class="d-flex align-items-center justify-content-center flex-column">
          <mat-icon class="code-icon">code</mat-icon>
          <h4 class="">Code source</h4>
        </div>

      </a>
    </div>

  </div>

</div>

<div *ngIf="projet.previewImageUrl" class="d-flex flex-column p-5 d-flex align-items-center pt-3 pt-sm-3 pt-md-0 pt-lg-0 pt-lg-0">
    <button (click)="clickShowPreview()" class="col-xl-2 col-5 col-sm-3 col-md-3 col-lg-2 d-flex justify-content-center">
      <mat-icon *ngIf="!showPreview">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="showPreview">keyboard_arrow_up</mat-icon>
    </button>

    <div *ngIf="showPreview" class="pt-2">
      <h4>Aperçu</h4>
      <img [ngSrc]=projet.previewImageUrl alt="image preview" width="1000" height="600" class="image-preview">
    </div>

</div>
  <div *ngIf="!projet.previewImageUrl" class="pb-5"></div>
</div>
