.mat-mdc-standard-chip{
  --mdc-chip-elevated-container-color: #ffffff;
  --mdc-chip-label-text-color: #474747;
}

.mat-mdc-chip-highlighted{
  --mdc-chip-elevated-container-color: #474747;
  --mdc-chip-label-text-color: white;
}

p{
  text-align: justify;
}

h2, h4{
  font-weight: bold;
}

.whole-card{
  background-color: #f9eeff;
  color : #b487da;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid;
  &:hover{
    background-color: #b487da;
    color: #ffffff;
  }
}

img{
  border-radius: 20px;
  border: 2px solid #b487da;
}
